{
	"extends": ["airbnb-base", "airbnb-typescript/base"],
	"env": {
		"node": true,
		"es6": true,
		"browser": true
	},
	"rules": {
		"no-console": "off",
		"no-tabs": "off",
		"@typescript-eslint/semi": ["error", "never"],
		" @typescript-eslint/indent": ["never"]
	},
	"parserOptions": { "project": ["tsconfig.json"] }
}
